<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <form action="/login" method="post">
    <h1>Login</h1>
    <div class="form-group">
      <a href="#">Login With Facebook</a>
      <a href="/auth/google">Login With Google+</a>
    </div>
    <p class="or">Or</p>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>
    <div class="form-group">
      <a href="/register">Register</a>
    </div>
    <div class="form-group">
      <input type="submit" class="btn btn-primary" value="Đăng nhập">
    </div>
  </form>
</body>
</html>
